.wrap {
  width: 250px;
  margin-bottom: 1.5rem;
}

.input {
  display: block;
  font-family: inherit;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: transparent !important;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid black;
}

.postInput {
  display: block;
  font-family: inherit;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: transparent !important;
  outline: none;
  resize: none;
  border: none;
  color: white;
  border-bottom: 1px solid white;
}

.label {
  font-size: 14px;
}

.postLabel {
  font-size: 14px;
  color: white;
}

.errorLabel {
  font-size: 16px;
  color: red;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;

  transition: transform 300ms linear;
}

.postButton {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;

  &:disabled {
    opacity: 0;
    pointer-events: none;
  }

  transition: transform 300ms linear;
}

.button:hover,
.button:focus,
.postButton:hover,
.postButton:focus {
  transform: scale(1.05);
}

.buttonWrapper {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
