html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease;
}

a:hover,
a:focus {
  color: #0070f3;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.container {
  padding: 0 2rem;
}

.main {
  @media screen and (max-width: 767px) {
    padding: 0 1rem 3rem 1rem;
  }
  min-height: 100vh;
  padding: 6rem 0 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-stack {
  width: 350px;
  @media screen and (min-width: 768px) {
    width: 400px;
  }
}
.grid-stack.jokes {
  @media screen and (max-width: 767px) {
    width: 400px;
  }
  width: 800px;
}

.grid-stack-item-content {
  @media screen and (max-width: 767px) {
    padding: 5px;
  }
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.canvas.dark {
  background-color: black;
}

.main-info {
  width: 350px;

  @media screen and (min-width: 768px) {
    // display: flex;
    // justify-content: space-between;
    width: 600px;
  }
  @media screen and (min-width: 1200px) {
    // display: flex;
    // justify-content: space-between;
    width: 800px;
  }

  & h1 {
    text-align: center;
  }
}

.blog-img {
  @media screen and (max-width: 767px) {
    margin-bottom: 2rem;
  }

  display: block;
  margin: 3rem auto 0 auto;
  cursor: pointer;

  transition: transform 300ms linear;
}

.blog-img:hover {
  transform: scale(1.1);
}
