.header {
  background-color: black;
  padding: 2rem 0 0 0;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0 5rem;

    z-index: 2;
  }
}

.nav {
  @media screen and (min-width: 768px) {
    margin-right: auto;
  }
}

.link {
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 1.5rem;
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}

.userMenu {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userMenu p {
  color: white;
}

.button {
  @media screen and (max-width: 767px) {
    margin-bottom: 1rem;
  }
  display: block;
  padding: 1rem;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  cursor: pointer;

  transition: transform 300ms linear;
}

.button:hover,
.button:focus {
  transform: scale(1.05);
}
